<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format> 
          <Include>
            Microsoft.Bot.Builder,               
            Microsoft.Bot.Builder.Adapters.Twilio,
            Microsoft.Bot.Builder.Teams,               
            Microsoft.Bot.Builder.AI.Luis,
            Microsoft.Bot.Builder.AI.QnA,
            Microsoft.Bot.Builder.ApplicationInsights,
            Microsoft.Bot.Builder.Azure,
            Microsoft.Bot.Builder.Configuration,
            Microsoft.Bot.Builder.Connector,                
            Microsoft.Bot.Builder.Connector.Teams,                
            Microsoft.Bot.Builder.Dialogs,
            Microsoft.Bot.Builder.Integration.ApplicationInsights.Core,
            Microsoft.Bot.Builder.Integration.AspNet.Core,
            Microsoft.Bot.Builder.TemplateManager,
            Microsoft.Bot.Builder.Testing,
            Microsoft.Bot.Builder.Adapters.Webex,
            Microsoft.Bot.Builder.Adapters.Twilio,
            Microsoft.Bot.Builder.Adapters.Slack,
            Microsoft.Bot.Builder.Adapters.Facebook,
            Microsoft.Bot.Expressions,
            Microsoft.Bot.Builder.Dialogs.Adaptive,
            Microsoft.Bot.Builder.Dialogs.Declarative,
            Microsoft.Bot.Builder.LanguageGeneration,                
            Microsoft.Bot.Builder.Schema
          </Include>
          <Exclude>
            WebexMessageRequest*,
            WebexClientWrapper*,
            TwilioMessage*,
            TwilioAdapterOptions*,
            NewSlackMessage*,
            SlackResponse*,
            ActivityResourceResponse*,
            SlackAdapterOptions*,
            SlackClientWrapper*,
            SlackMessage*,
            SlackAction*,
            SlackEvent*,
            SlackPayload*,
            SlackRequestBody*,
            Button*,
            DefaultAction*,
            Element*,
            FacebookAttachment*,
            FacebookBotUser*,
            FacebookEntry*,
            FacebookPostback*,
            FacebookRecipient*,
            FacebookResponseEvent*,
            FacebookResponseOk*,
            FacebookQuickReply*,
            MessagePayload*,
            FacebookPassThreadControl*,
            FacebookRequestThreadControl*,
            FacebookTakeThreadControl*,
            FacebookThreadControl*,
            HandoverConstants*,
            AttachmentPayload*,
            CommonRegexParser*,
            ExpressionParser*,
            LGFileParser*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>