<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format> 
                */Microsoft.Bot.Builder,               
                */Microsoft.Bot.Builder.Adapters.Twilio,
                */Microsoft.Bot.Builder.Teams,               
                */Microsoft.Bot.Builder.AI.Luis,
                */Microsoft.Bot.Builder.AI.QnA,
                */Microsoft.Bot.Builder.ApplicationInsights,
                */Microsoft.Bot.Builder.Azure,
                */Microsoft.Bot.Builder.Configuration,
                */Microsoft.Bot.Builder.Connector,                
                */Microsoft.Bot.Builder.Connector.Teams,                
                */Microsoft.Bot.Builder.Dialogs,
                */Microsoft.Bot.Builder.Integration.ApplicationInsights.Core,
                */Microsoft.Bot.Builder.Integration.AspNet.Core,
                */Microsoft.Bot.Builder.TemplateManager,
                */Microsoft.Bot.Builder.Testing,
                */Microsoft.Bot.Builder.Adapters.Webex,
                */Microsoft.Bot.Builder.Adapters.Twilio,
                */Microsoft.Bot.Builder.Adapters.Slack,
                */Microsoft.Bot.Builder.Adapters.Facebook,
                */Microsoft.Bot.Expressions,
                */Microsoft.Bot.Builder.Dialogs.Adaptive,
                */Microsoft.Bot.Builder.Dialogs.Declarative,
                */Microsoft.Bot.Builder.LanguageGeneration,                
                Microsoft.Bot.Builder.Schema
              </Include>
              <ExcludeByFile>
                */WebexMessageRequest.cs,
                */WebexClientWrapper.cs,
                */TwilioMessage.cs,
                */TwilioAdapterOptions.cs,
                */NewSlackMessage.cs,
                */SlackResponse.cs,
                */ActivityResourceResponse.cs,
                */SlackAdapterOptions.cs,
                */SlackClientWrapper.cs,
                */SlackMessage.cs,
                */SlackAction.cs,
                */SlackEvent.cs,
                */SlackPayload.cs,
                */SlackRequestBody.cs,
                */Button.cs,
                */DefaultAction.cs,
                */Element.cs,
                */FacebookAttachment.cs,
                */FacebookBotUser.cs,
                */FacebookEntry.cs,
                */FacebookPostback.cs,
                */FacebookRecipient.cs,
                */FacebookResponseEvent.cs,
                */FacebookResponseOk.cs,
                */FacebookQuickReply.cs,
                */MessagePayload.cs,
                */FacebookPassThreadControl.cs,
                */FacebookRequestThreadControl.cs,
                */FacebookTakeThreadControl.cs,
                */FacebookThreadControl.cs,
                */HandoverConstants.cs,
                */AttachmentPayload.cs,
                */CommonRegexParser.cs,
                */ExpressionParser.cs,
                */LGFileParser.cs
              </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>